* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: arial; }

.title {
  color: #000;
  text-align: center;
  font-size: 64px;
  margin-top: 28px;
  transform: translateX(1px); }

.right {
  margin-left: 4px; }

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 43px; }

.buttons__row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  transform: translateX(1px); }

.button, .button--green, .button--blue, .button--yellow {
  width: 270px;
  height: 46px;
  margin-right: 29px;
  border-radius: 20px;
  border: 2px solid transparent;
  font-family: arial;
  font-size: 32px;
  color: white;
  transition: all 0.3s;
  outline: none; }
  .button--green {
    background-color: #2ecc71; }
    .button--green:hover {
      background-color: #006400; }
  .button--blue {
    background-color: #3498db; }
    .button--blue:hover {
      background-color: #00008b; }
  .button--yellow {
    background-color: #f1c40f; }
    .button--yellow:hover {
      background-color: #a88613; }
  .button.is-active, .is-active.button--green, .is-active.button--blue, .is-active.button--yellow {
    border: 2px solid black; }
  .button.is-disabled, .is-disabled.button--green, .is-disabled.button--blue, .is-disabled.button--yellow {
    background-color: #808080;
    border: 2px solid #616060;
    color: #000;
    pointer-events: none; }

ul li {
  padding: 10px 15px; }

ul.for li:nth-child(1) {
  background-color: #0b3663; }

ul.for li:nth-child(2) {
  background-color: #104f91; }

ul.for li:nth-child(3) {
  background-color: #1668be; }

ul.for li:nth-child(4) {
  background-color: #2181e6; }

ul.for li:nth-child(5) {
  background-color: #4f9beb; }

ul.for li:nth-child(6) {
  background-color: #7db5f0; }

ul.for li:nth-child(7) {
  background-color: #abcff5; }

ul.forif li:nth-child(1) {
  background-color: yellow; }

ul.forif li:nth-child(2) {
  background-color: #bd2b2b; }

ul.forif li:nth-child(3) {
  background-color: yellow; }

ul.forif li:nth-child(4) {
  background-color: #bd2b2b; }

ul.forif li:nth-child(5) {
  background-color: yellow; }

ul.forif li:nth-child(6) {
  background-color: #bd2b2b; }

ul.forif li:nth-child(7) {
  background-color: yellow; }

ul.while li:nth-child(0) {
  background-color: pink; }

ul.while li:nth-child(1) {
  background-color: pink; }

ul.while li:nth-child(2) {
  background-color: pink; }

ul.while li:nth-child(3) {
  background-color: pink; }

ul.while li:nth-child(4) {
  background-color: pink; }
